html,
body {
    margin: 0;
    font-family: "Poppins" !important;



}

body {
  position: relative;
}

/* header section */
/* desktop navbar */
/* desktop menu */
.header_masterpage{
  background: rgb(0, 0, 0);
  width: 100%;
  height:100px;


}

@media (max-width:1124px){
  .desktop_menu{
    display:none;
  }
  .jrb_jrb{
    display: block !important;
  }
}
.topcorner_logo {
  position: absolute;
  top: 31px;
  left: 40px;
}

.logo {
  width: 7em;
}
.desktop_menu {
    float: right;
    padding-top: 10px;
   }

   .desktop_menu ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     text-align: center;

   }

   .desktop_menu li {
     float: left;
     /*position: relative; */
     padding: 15px 0;

   }

   .desktop_menu a {
     color: #ffff;
     text-align: center;
     padding: 11px 30px;
     text-decoration: none;
     cursor: pointer;
     /* text-transform: uppercase; */
     /* font-weight: bold; */
     display: inline-block;
     position: relative;
     font-size: 18px;
   }
   .desktop_menu a:hover{
       text-decoration: none;
       color: #ffff;
   }

   .desktop_menu a:after {
     background: none repeat scroll 0 0 transparent;
     bottom: 0;
     content: "";
     display: block;
     height: 2px;
     left: 50%;
     position: relative;
     background: rgb(248, 54, 0);
     transition: width 0.3s ease 0s, left 0.3s ease 0s;
     width: 0;
   }

   .desktop_menu a:hover:after {
     width: 100%;
     left: 0;
   }
 .desktop_menu .sign{
   color: rgb(255, 255, 255);
   border-width: 1px;
   border-color: rgb(248, 61, 2);
   border-style: solid;
   border-radius: 20px;
   width: 130px;
   height: 50px;
   margin-right: 15px;

 }
 .sign:hover{
   background-color: #f83b01;
 }
 /* end of desktop navbar*/
.header_section {
    background-image: url('../Assets/header_bd.png');
    background-size: cover;
    height: 750px;
    width: 100%;
    text-align: center;

}

.header_section h1 {
    font-size: 50px;

    color: rgb(255, 255, 255);
    line-height: 2.118;
    font-weight: bold;
    padding-top: 270px;

}

.header_section h3 {
    font-size: 25px;

    color: rgb(255, 255, 255);
    line-height: 1.8;
    font-weight: bold;
    margin-top: -30px;


}

/* search dropdown lists */

.search {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 255px));
    grid-template-rows: repeat(4, 50px);
    justify-content: center;
    grid-gap: 10px;
}


.search select:nth-child(1) {
    width: 255px;
    height: 50px;
    padding-left: 10px;
    border-radius: 5px;


}



.search_btn {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    line-height: 2.4;
    background-image: -moz-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    background-image: -webkit-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    background-image: -ms-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    border: 0px;
    border-radius: 5px;
    width: 255px;
    height: 50px;
    z-index: 48;
}


/* End header */
/* Starting Cards Section */






.cards .card {
    margin-top: -80px;
    border: 0px;
    border-radius: 10px;

}

.cards .card:hover {
    cursor: pointer;
    -ms-transform: scale(1.1);
    transition: 2s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: transform 0.4s ease-in-out;
}

.cards p {
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    text-align: center;

}

.cards img {
    width: 50%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;
}


/* End of Cards Section*/
/* top cards*/
.top_cars {
    padding-top: 150px;
    padding-bottom: 150px;
}

.cars_container {
    padding-top: 70px;

}

.row2 {
    padding-top: 35px;


}

.top_cars h1 {
    font-size: 30px;
    text-align: center;
    color: rgb(89, 92, 97);
    font-weight: bold;
    text-transform: uppercase;


}

.car_card {
    display: grid;
    grid-template-columns: 290px 250px;
    grid-template-rows: 195px;
    justify-content: center;
    align-content: center;
    background-color: rgb(255, 255, 255);

}

.car_info,
.car_img {
    box-shadow: 0px 13px 57px 0px rgba(0, 0, 0, 0.1);
}

.car_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.car_info h4 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.car_info .price {
    font-size: 15px;
    font-weight: bolder;
    color: rgb(248, 59, 1);
    line-height: 1.2;

}

.rent_now {
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.rent_now a {
    font-weight: bold;
}

/*  end top cars*/

/*  start espace agence*/
.espace_agence {
    background-image: url('../Assets/espace_agence_bg.png');
    background-size: cover;
    height: 700px;
    display: flex;
}

.espace_agence .container {
    margin: auto;
}

.rent_mango {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.024;
    text-align: center;
    padding-top: 50px;
}

.agency_text {
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 2.024;
    text-align: center;
}

.register_now {
    width: 170px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.26);
    border: 0px;
    margin-top: 50px;
}

.register_now a {
    font-size: 17.788px;
    color: rgb(240, 113, 29);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.register_now a:hover {
    text-decoration: none;
    color: rgb(240, 113, 29);
}

/*  end espace agence*/
/*  Start Témoignage*/
.temoignage {
    padding-top: 150px;
    padding-bottom: 150px;
}

.temoignage h1 {
    font-size: 30px;
    text-align: center;
    color: rgb(89, 92, 97);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.swiper-container {
    width: 80%;
    height: 55%;
    padding: 50px;

}

.swiper-slide {
    background-position: center;
    background-size: cover;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 13px 57px 0px rgba(0, 0, 0, 0.1);
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgb(248, 59, 1) !important;
}
 .swiper-button-next {

    background-image: url('../Assets/right-arrow.svg') !important;
}
.swiper-button-prev{
    background-image: url('../Assets/left-arrow.svg') !important;
}
/*  end Témoignage*/

#footer {
    padding: 60px 0;
    /*margin-top: 50px;*/
  }





  /*#footer {

   background-image: -webkit-linear-gradient( 45deg, rgb(30,122,163) 0%, rgb(30, 134, 150) 100%) !important;
 }*/


  #footer {
    padding-top: 480px;
    background: linear-gradient(90deg, #ffff 15.6px, transparent 1%) center, linear-gradient(#ffff 15.6px, transparent 1%) center, #f83b01 !important;
    background-size: 17px 17px !important;
    -webkit-clip-path: polygon(49% 28%, 100% 21%, 100% 100%, 0 100%, 0 35%) !important;
    clip-path: polygon(49% 28%, 100% 21%, 100% 100%, 0 100%, 0 35%) !important;
    height: auto, auto;
    min-height: 200px, 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 25px 40px 0px rgba(99, 73, 157, 0.12);

  }

  #footer2 {
    padding-top: 200px;
    /* background: url(../Assets/background_footer.png)  no-repeat 50% 50%; */
    background: linear-gradient(90deg, #f1f0fb 14.5px, transparent 1%) center, linear-gradient(#f1f0fb 14.5px, transparent 1%) center, #5ebaec !important;
    background-size: 16px 16px !important;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 25px 40px 0px rgba(99, 73, 157, 0.12);

  }

  .footer2-center {
    text-align: center;
    margin-left: 35%;
  }

  #footer .footer_content {
    margin-top: -170px;
  }

  #footer2 .footer_content {
    margin-top: -140px;
  }

  #footer h5 {
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:  rgb(89, 92, 97);
    font-weight: bold;
    text-transform: uppercase;

  }

  .right-reserved {
    color: rgb(89, 92, 97)!important;
  }



  #footer a,
  #footer2 a {
    color: rgb(248, 59, 1);
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  #footer ul.social li,
  #footer2 ul.social li {
    padding: 3px 0;
  }

  #footer ul.social li a i,
  #footer2 ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }

  #footer ul.social li:hover a i,
  #footer2 ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
  }

  #footer ul.social li a,
  #footer ul.quick-links li a,
  #footer2 ul.social li a,
  #footer2 ul.quick-links li a {
    color: rgb(248, 59, 1);
    font-weight: 500;
  }

  #footer ul.social li a:hover,
  #footer2 ul.social li a:hover {
    color: rgb(248, 59, 1);
  }

  #footer ul.quick-links li,
  #footer2 ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .1s all ease;
    -moz-transition: .1s all ease;
    transition: .1s all ease;
  }

  #footer ul.quick-links li:hover,
  #footer2 ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    --font-weight: 700;
  }

  #footer ul.quick-links li a i,
  #footer2 ul.quick-links li a i {
    margin-right: 5px;
  }

  #footer ul.quick-links li:hover a i,
  #footer2 ul.quick-links li:hover a i {
    font-weight: 700;
  }


  .contact_footer_btn:hover {
    cursor: pointer
  }

  .contact_footer_btn {
    background: transparent;
    outline: none;
    position: relative;
    border: 2px solid rgb(248, 59, 1);
    padding: 10px 20px;
    overflow: hidden;
    color: rgb(248, 59, 1);
    font-size: 18px;
    font-weight: bold;
    margin-left: 13px;
  }

  @media (max-width:767px) {

    #footer h5,
    #footer2 h5 {
      padding-left: 0;
      border-left: transparent;
      padding-bottom: 0px;
      margin-bottom: 10px;
    }
  }

  .contact_us_rectangle {
    margin-top: 70px;
    width: 520px !important;
    height: 470px;
    background-color: rgb(255, 255, 255);
    box-shadow: -10px 5px 40px 0px rgba(99, 73, 157, 0.12);
    display: block;
    z-index: 500;
    position: absolute;
    /* bottom: -150em; */
    right: 30px;
    padding-top: 30px;
  }

  .rectangle_title {
    padding-top: 10px;
    font-weight: bold;
    font-size: 22.345px;
    font-family: "Poppins";
    color: rgb(89, 92, 97);
  }

  .inputs_border {
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-color: #bfbec5;
    border-bottom: 1.5px ridge;

  }

  textarea[name=message] {
    resize: none;
  }



  .sendbtn:hover {
    cursor: pointer
  }

  .sendbtn {
    background-image: -moz-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    background-image: -webkit-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    background-image: -ms-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    color: rgb(255, 255, 255);
    position: relative;
    border: 1px;
    padding: 15px 50px;
    overflow: hidden;
    margin-left: 15px;
    font-weight: bold;
  }


  .sendbtn:hover:before {
    opacity: 1;
    transform: translate(0, 0);
  }

  .sendbtn:before {
    content: url("../Assets/send.svg");
    position: absolute;
    top: 0.78em;
    right: 65px;
    width: 25%;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all .2s ease-in-out;

  }

  /*button div (button text before hover)*/
  .sendbtn:hover div {
    opacity: 0;
    transform: translate(100%, 0)
  }

  .sendbtn div {
    text-transform: uppercase;

    /* letter-spacing: 1px; */
    /* font-weight: 700; */
    font-size: 17px;
    transition: all .2s ease-in-out;
  }


  .pt_cards {
    padding-top: 30px;
    margin-top: 100px;
    position: relative;
    opacity: 0;
  }
  .contact_btn_mobile {
    background: transparent !important;
    outline: none !important;
    position: relative !important;
    border: 2px solid rgb(248, 59, 1) !important;
    padding: 10px 20px !important;
    overflow: hidden !important;
    color: rgb(89, 92, 97) !important;
    font-size: 18px !important;
    font-weight: bold !important;
    width: 180px;
    display: none !important;
   }
  .contact_mobile_center{
    display: flex;
    align-items: center;
    justify-content: center;

  }
 /* socials*/
 .social1 {
    background: url("../Assets/face.svg") no-repeat;
    background-size: 17px;
  }

  #social1 {
    display: block;
    height: 30px;
    width: 30px;
  }

  .social1:hover {

    background: url("../Assets/facebook hover2.svg") no-repeat;
    display: block;
    transition: 0s !important;
  }


  .social2 {
    background: url("../Assets/Instagram.svg") no-repeat;

    background-size: 30px;


  }

  #social2 {
    display: block;
    height: 30px;
    width: 30px;
  }

  .social2:hover {

    background: url("../Assets/instagram hover.svg") no-repeat;


  }

  .social22 {
    background: url("../Assets/webdev.svg") no-repeat;
    transition: 0.5s;
    background-size: 130px;


  }

  #social22 {
    display: block;
    height: 130px;
    width: 130px;
  }

  .social22:hover {

    background: url("../Assets/webdev hover.svg") no-repeat;
    transition: 0.5s;

  }

  .titt:hover {

    color: #FC7070;
    transition: 0.5s;

  }

  a[data-num="1"] {
    text-decoration: none;
    width: 150px;
  }

  .titt {

    text-decoration: none;
    transition: 0.5s;

  }

  .social3 {
    background: url("../Assets/Linkedin.svg") no-repeat;

    background-size: 30px;


  }

  #social3 {
    display: block;
    height: 30px;
    width: 30px;
  }

  .social3:hover {

    background: url("../Assets/linkedin hover.svg") no-repeat;
    display: felx;

  }

  .social4 {
    background: url("../Assets/Dribble.svg") no-repeat;

    background-size: 30px;


  }

  #social4 {
    display: block;
    height: 30px;
    width: 30px;
  }

  .social4:hover {

    background: url("../Assets/dribble hover.svg") no-repeat;
    display: felx;

  }

  .social5 {
    background: url("../Assets/twi.svg") no-repeat;

    background-size: 30px;


  }

  #social5 {
    display: block;
    height: 30px;
    width: 30px;
  }

  .social5:hover {

    background: url("../Assets/twitter hover.svg") no-repeat;
    display: felx;

  }
  /* End Footer */


  @media (min-width: 988px) and (max-width: 1280px) {
    .contact_us_rectangle {
      width: 400px !important;
      height: 470px;
    }
  }















/* Media */
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .header_section {
        height: 850px;

    }

    .header_section h1, .cataloge_bg h1 ,.espace_agence_bg h1  {
        font-size: 24px !important;
    }
    .rent_mango{
      font-size: 28px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .agency_text{
      font-size: 19px;
    }
    .cataloge_bg ,.espace_agence_bg {
      height: 560px !important;
    }
    .espace_agence{
      height: 870px !important;
    }
    .header_section h3 {
        font-size: 18px;
        margin-top: -5px;
    }
    .filter_search h1{
      font-size: 30px !important;
    }

    .search {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0;
        margin-right: 0;


    }

    .car_card {

        grid-template-columns: 170px 160px !important;

    }

    .socials{
        text-align: center;
    }


}



/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
.tuto_img{
  display: none;
}
}

/*/ Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .car_card {

        grid-template-columns: 230px 190px;
        grid-template-rows: 220px !important;
        grid-gap: 15px;
    }

    .car_img {
        grid-column: 1/-1;

    }

    .car_info {
        grid-column: 1/-1;

    }
    .contact_us_rectangle{
        display: none;
    }
    .contact_btn_mobile{
        display: block !important;
    }
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {


    .cards .card {
        margin-top: 10px;
        padding-top: 20px;
    }

    .second {
        padding-top: 35px;
    }

}
/* Espace Agence page'css*/
.espace_agence_bg{
  background-image: url('../Assets/cc.png');
    background-size: cover;
    height: 750px;
    width: 100%;
    text-align: center;
}
.espace_agence_bg h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  line-height: 2.118;
  font-weight: bold;
  padding-top: 235px;

}
.use_mango{
  padding-top: 240px;

}
.use_mango .container{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 13px 57px 0px rgba(0, 0, 0, 0.1);

}
.jj{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}
.use_mango h1{
  color: rgb(248, 54, 0);
  padding-top: 60px;
}
.use_mango p{
  font-size: 1.8rem;
  color: #82888a;
  line-height: 2.8rem;
    margin-top: 20px;
}

.use_mango .t1{
  color: rgb(248, 54, 0);
  padding-top: 60px;
}
/* end*/

/* start */
.how_to_rent{
  padding-top: 170px;
}
.how_to_rent h1{
  font-size: 40px;
    text-align: center;
    color: rgb(89, 92, 97);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 200px;
}
.how_to_rent h2{
  color: #f5af19;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 30px;
}
.how_to_rent p{
  font-size: 1.8rem;
  color: #82888a;
  line-height: 2.8rem;

}
.reserv_row {
  padding-top: 180px;
}


/* end espace agence*/
/* start page cataloge*/
.cataloge_bg{
  background-image: url('../Assets/camaro.jpg');
    background-size: cover;
    height: 750px;
    width: 100%;
    text-align: center;
}
.cataloge_bg h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  line-height: 2.118;
  font-weight: bold;
  padding-top: 235px;
}
.filter_search{
padding-top: 100px;
}
.filter_search h1{
  font-size: 40px;
    text-align: center;
    color: rgb(89, 92, 97);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 100px;
}
/*====================*/
.qizm{
    padding-top: 55px;
}

.card-flip {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.card-flip:hover .flip, .card-flip.hover .flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-flip,
.front,
.back {
  width: 100%;
  height: 480px;
}

.flip {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card-flip .card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 13px 57px 0px rgba(0, 0, 0, 0.1);
  border: 0px;

}
.card-flip ul  {
  list-style-type: none;
  padding-left: 15px;
}
.card-flip ul li {
  color: rgb(248, 54, 0);
  font-size: 20px;
}
.card-flip label{
  color: rgb(89, 92, 97);
  font-size: 19px;
}
.card-flip  .rent_now{
  padding-right: 15px;

}
.card-flip .flip .front .card .card-block h4 {
  padding-top: 10px;
}
.card-flip .flip .back .card .card-block ul {
  padding-top: 40px;
}



.jrb_jrb{
  display: none;
  cursor: pointer;
 overflow: hidden !important;

}
.jrb_jrb label{
  text-align: center;

}
.jrb_jrb label .menu {
  position: absolute;
    right: 0px;
    top: -85px;
    z-index: 100;
    width: 200px;
    height: 185px;
    background: #000000;
    border-radius: 50% 0 0 50%;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    cursor: pointer;
}
.jrb_jrb label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #f83b01;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-left: 80px;

}
.jrb_jrb label .hamburger:after, label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #f83b01;
  cursor: pointer;
}
.jrb_jrb label .hamburger:before {
  top: -10px;
}
.jrb_jrb label .hamburger:after {
  bottom: -10px;
}
.jrb_jrb label input {
  display: none;
}

.jrb_jrb label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 130vh #fff;
  border-radius: 0;
  background: #fff;

}
.jrb_jrb label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}
.jrb_jrb label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
.jrb_jrb label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
.jrb_jrb label input:checked + .menu + ul {
  opacity: 1;
}
.jrb_jrb label ul {
  z-index: 200;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
  list-style-type: none;
}

.jrb_jrb ul {

  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;


}

.jrb_jrb li {

  /*position: relative; */
  padding: 15px 0;

}

.jrb_jrb  a {
  color: #000;
  text-align: center;
   /* padding: 11px 30px;  */
  text-decoration: none;
  cursor: pointer;
  /* text-transform: uppercase; */
  /* font-weight: bold; */

  position: relative;
  font-size: 19px;
}
.jrb_jrb  a:hover{
    text-decoration: none;
    color: #000;
}

.jrb_jrb  a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: rgb(248, 54, 0);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  z-index: 9999;
}

.jrb_jrb  a:hover:after {
  width: 100%;
  left: 0;
}
.jrb_jrb  .sign{
color: rgb(0, 0, 0);
border-width: 1px;
border-color: rgb(248, 61, 2);
border-style: solid;
border-radius: 20px;
width: 130px;
height: 50px;

}
.jrb_jrb .sign:hover{
background-color: #f83b01;
color: #fff;

}
