body{
    font-family: "Poppins" !important;
}
   
   
   .input-field input[type=text]:focus + label,.input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: rgb(248, 61, 2) !important;
   }
 
   
   .input-field input[type=text]:focus, .input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(248, 61, 2) !important;
    box-shadow: 0 1px 0 0 rgb(248, 61, 2) !important;
   }
  
   .datepicker-date-display{
    background-image: -moz-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    background-image: -webkit-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    background-image: -ms-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
   }

   .datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #f5af19!important;
   }
   .datepicker-table td.is-selected {
        background-color: rgb(248, 54, 0) !important;
    }
    .datepicker-modal {
        max-width: 325px;
        min-width: 300px;
        max-height: 351px !important;
    }
    .modal{
        top: 30% !important;
    }
   /* #f5af19 */
   .topcorner_logo {
    position: absolute;
    top: 24px !important;
    left: 23px !important;
  }
  
  .logo {
    width: 7em;
  }
   .wrapper{
       display: grid;
       grid-template-columns: 1fr 10px 2fr ;
       grid-template-rows:  150vh 150vh 150vh;
       min-height:140vh;
    height: 100%;
    width: 100%;
   }
  .div2{
      align-self: center;
      justify-self: center;
  }
  .div2 p{
    font-size: 30px;
    text-align: center;
    color: rgb(89, 92, 97);
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 20px;
  }
   .div1{
    background: linear-gradient(90deg, #000 15.6px, transparent 1%) center, linear-gradient(#000 15.6px, transparent 1%) center, #f83b01 !important;
    background-size: 17px 17px !important;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .div1 h1{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
   }
.kht{
    background-image: -moz-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    background-image: -webkit-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    background-image: -ms-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
}
@media (max-width:930px){
    .wrapper{
        
        grid-template-rows:  50vh 10px 100vh;
    }
    .div1 ,.div2 {
        grid-column: 1/-1;

    }
    .kht{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .div2 p{
        margin-top: 60%;
    }
}
.sendbtn:hover {
    cursor: pointer
  }
 
  .sendbtn {
    background-image: -moz-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    background-image: -webkit-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    background-image: -ms-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    color: rgb(255, 255, 255);
    position: relative;
    border: 1px;
    padding: 15px 50px;
    overflow: hidden;
    margin-left: 15px;
    font-weight: bold;
  }
 
 
  .sendbtn:hover:before {
    opacity: 1;
    transform: translate(0, 0);
  }
 
  .sendbtn:before {
    content: url("../Assets/send.svg");
    position: absolute;
    top: 0.78em;
    right: 65px;
    width: 25%;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all .2s ease-in-out;
 
  }
 
  /*button div (button text before hover)*/
  .sendbtn:hover div {
    opacity: 0;
    transform: translate(100%, 0)
  }
 
  .sendbtn div {
    text-transform: uppercase;
 
    /* letter-spacing: 1px; */
    /* font-weight: 700; */
    font-size: 17px;
    transition: all .2s ease-in-out;
  }
  
  .checkbox-flame-color[type="checkbox"].filled-in:checked + span:not(.lever):after 
{
    border: 2px solid rgb(89, 92, 97);  
    background-image: -moz-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    background-image: -webkit-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
    background-image: -ms-linear-gradient(-69deg, rgb(249, 212, 35) 0%, rgb(248, 54, 0) 100%);
}